@using Microsoft.Web.Mvc
@using MvcAjaxGridSample.Types
@model MvcAjaxGridSample.Models.GridViewModel<MvcAjaxGridSample.Models.BookViewModel>

@Html.SimpleHidden("options", Json.Encode(Model.Options), new Dictionary<string, object>{ {"data-role", "options"}})
<table class="table table-hover">
    @Html.Partial("_Columns", Model)
    @Html.Partial("_Filter", Model.Options.Filter)
    @Html.Partial("_Data", Model.Data)
</table>
<div>
    <div class="pull-left">
        @Html.Button("New", "New", HtmlButtonType.Button, null, new {@class = "btn-primary btn-xs btn", data_role = "recordEdit"})
    </div>
    <div class="pull-right">
        @Html.Partial("_Paging", Model.Options.Paging)
    </div>
</div>