@model MvcAjaxGridSample.Models.GridViewModel<MvcAjaxGridSample.Models.BookViewModel>

@section scripts{
    <script>
        $(document).ready(function() {
            $("#ajaxGrid").ajaxGrid({
                url: {
                    sort: '@Url.Action("Sort", "Home")',
                    page: '@Url.Action("Page", "Home")',
                    filter: '@Url.Action("Filter", "Home")',
                    edit: '@Url.Action("Edit", "Home")',
                    delete: '@Url.Action("Delete", "Home")',
                    save: '@Url.Action("Save", "Home")'
                }
            });
        });
    </script>
}
<div id="ajaxGrid" class="container">
    @Html.Partial("_Grid", Model)
</div>
<div data-role="editDialog" class="container"></div>